<div class="w-[500px]">
  <div class="card h-[560px] bg-white/10 backdrop-blur-xl border border-white/10 text-neutral-content shadow-xl">
    <div class="card-body flex flex-col gap-4">

      <form [formGroup]="formGroup" class="flex flex-col gap-5">
        <div class="flex flex-col gap-2">
          <label class="label">
            <span class="label-text text-white">Poste recherché</span>
          </label>
          <input
            class="input input-bordered w-full bg-black text-white"
            type="text"
            formControlName="jobTitle"
            placeholder="Entrez le nom du poste recherché"
          />
        </div>
        <div class="flex flex-col gap-2">
          <label class="label">
            <span class="label-text text-white">Localisation</span>
          </label>
          <input
            class="input input-bordered w-full bg-black text-white"
            type="text"
            formControlName="jobLocation"
            placeholder="Entrez la ville du poste recherché"
          />
        </div>
        <div class="flex flex-col gap-2 flex-1">
        <label class="label">
          <span class="label-text text-white">Description</span>
        </label>
        <textarea
          class="textarea textarea-bordered w-full bg-black text-white min-h-[160px]"
          formControlName="applicantDescription"
          placeholder="Décrivez vos compétences, votre parcours, votre profil"
        ></textarea>
      </div>
      </form>


      <div class="flex flex-col gap-2">
        <label class="label flex justify-between items-center">
          <span class="label-text text-white">Ajouter CV</span>
          <button
            type="button"
            class="btn btn-ghost btn-circle text-white"
            (click)="fileInput.click()"
            aria-label="Téléverser un CV"
          >
            <span class="material-symbols-outlined">
                download
            </span>
          </button>
        </label>
        <input
          #fileInput
          type="file"
          accept=".pdf,.doc,.docx"
          class="hidden"
          (change)="onFileSelected($event)"
        />
        <div *ngIf="cvFile" class="text-sm text-white/80">
          CV sélectionné : {{ cvFile.name }}
        </div>
      </div>
      <button
        type="button"
        class="btn btn-primary mt-2"
        [disabled]="!isValidForm()"
        (click)="validateAndSearch()"
      >
        Valider et Chercher
      </button>

    </div>
  </div>
</div>

