<div class="relative flex items-center justify-between px-6 h-16 py-2
bg-white/10 backdrop-blur-xl border-b border-white/10">

  <div class="navbar-start gap-3">
    <a routerLink="/" class="flex items-center">
      <img
        src="assets/logojob.png"
        alt="JobFinder logo"
        class="h-20 w-auto"
      />
    </a>
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
        <span class="material-symbols-outlined text-2xl">
          menu
        </span>
      </div>
      <ul
        tabindex="0"
        class="menu menu-md dropdown-content
            bg-white/10 backdrop-blur-xl
            border border-white/10
            text-white rounded-box
            z-10 mt-3 w-56 p-2 shadow-xl">
        <li><a routerLink="/jobs">Offres disponibles</a></li>
        <li><a routerLink="/upload">Offres sauvegardées</a></li>
      </ul>
    </div>
  </div>
  <div class="navbar-center">
    <a
      routerLink="/"
      class="text-white text-lg font-bold tracking-[0.35em] uppercase font-title">
      JobFinder
    </a>
  </div>
  <div class="navbar-end">
    <button class="btn btn-ghost btn-circle">
      <span class="material-symbols-outlined text-2xl">
        person
      </span>
    </button>
  </div>
</div>